## Import sessions

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point
import requests
import time
from sqlalchemy import create_engine, text
from geoalchemy2 import Geometry
import matplotlib.pyplot as plt
import os

# Task1
## Import files into server and data clean

In [2]:
engine = create_engine("postgresql+psycopg2://postgres:240130@127.0.0.1:5432/data2001")
print("Server connected")
print(os.listdir())

Server connected
['.git', '.ipynb_checkpoints', 'assignment.ipynb', 'data']

In [3]:

gdf_sa2 = gpd.read_file("data/SA2_2021_AUST_SHP_GDA2020/SA2_2021_AUST_GDA2020.shp").to_crs(epsg=4326)
gdf_sa2.columns = [c.lower() for c in gdf_sa2.columns]
gdf_sa2 = gdf_sa2.rename_geometry("geom")
gdf_sa2.to_postgis(
    name="sa2_2021_aust_gda2020",
    con=engine,
    if_exists="replace",
    dtype={"geom": Geometry("MULTIPOLYGON", srid=4326)}
)
print(" import ：sa2_2021_aust_gda2020")

catch_paths = {
    "catchments_primary":   "data/catchments/catchments_primary.shp",
    "catchments_secondary": "data/catchments/catchments_secondary.shp",
    "catchments_future":    "data/catchments/catchments_future.shp"
}
for tbl, shp in catch_paths.items():
    gdf = gpd.read_file(shp).to_crs(epsg=4326)
    gdf.to_postgis(
        name=tbl,
        con=engine,
        if_exists="replace",
        dtype={"geom": Geometry("MULTIPOLYGON", srid=4326)}
    )
    print(f"import ：{tbl}")

pd.read_csv("data/Businesses.csv").to_sql("business",   engine, if_exists="replace", index=False)
pd.read_csv("data/Population.csv").to_sql("population", engine, if_exists="replace", index=False)
pd.read_csv("data/Income.csv")    .to_sql("income",     engine, if_exists="replace", index=False)
print("import ：business, population, income")

df_stops = pd.read_csv("data/Stops.txt")
df_stops["geom"] = df_stops.apply(lambda r: Point(r.stop_lon, r.stop_lat), axis=1)
gdf_stops = gpd.GeoDataFrame(df_stops, geometry="geom", crs="EPSG:4326")
gdf_stops.to_postgis(
    name="stops",
    con=engine,
    if_exists="replace",
    dtype={"geom": Geometry("POINT", srid=4326)}
)
print("import ：stops")

with engine.begin() as conn:
    conn.execute(text("CREATE INDEX IF NOT EXISTS idx_sa2_geom    ON sa2_2021_aust_gda2020 USING GIST(geom);"))
    conn.execute(text("CREATE INDEX IF NOT EXISTS idx_cat_pri_geom ON catchments_primary   USING GIST(geometry);"))
    conn.execute(text("CREATE INDEX IF NOT EXISTS idx_cat_sec_geom ON catchments_secondary USING GIST(geometry);"))
    conn.execute(text("CREATE INDEX IF NOT EXISTS idx_cat_fut_geom ON catchments_future    USING GIST(geometry);"))
    conn.execute(text("CREATE INDEX IF NOT EXISTS idx_stops_geom  ON stops               USING GIST(geom);"))
    conn.execute(text("CREATE INDEX IF NOT EXISTS idx_bus_sa2     ON business(sa2_code);"))
    conn.execute(text("CREATE INDEX IF NOT EXISTS idx_pop_sa2     ON population(sa2_code);"))
    conn.execute(text("CREATE INDEX IF NOT EXISTS idx_inc_sa2     ON income(sa2_code21);"))

print(" import complete ")

 import ：sa2_2021_aust_gda2020
import ：catchments_primary
import ：catchments_secondary
import ：catchments_future
import ：business, population, income
import ：stops
 import complete

# Task2: get pois

In [4]:

query = """
select sa2_code21,sa2_name21 from sa2_2021_aust_gda2020
where sa4_name21 = 'Sydney - Eastern Suburbs';
"""
eastern_suburbs_sa2 = pd.read_sql(query, con=engine)
print("Sydney - Eastern Suburbs contains: ")
display(eastern_suburbs_sa2)

Sydney - Eastern Suburbs contains:

   sa2_code21                         sa2_name21
0   118011339          Bondi - Tamarama - Bronte
1   118011340          Bondi Beach - North Bondi
2   118011341           Bondi Junction - Waverly
3   118011342                    Centennial Park
4   118011344                      Dover Heights
5   118011345            Paddington - Moore Park
6   118011346  Rose Bay - Vaucluse - Watsons Bay
7   118011347                          Woollahra
8   118011649                      Bellevue Hill
9   118011650         Double Bay - Darling Point
10  118021564                   Kensington (NSW)
11  118021565                          Kingsford
12  118021566                   Maroubra - North
13  118021567                   Maroubra - South
14  118021568                    Maroubra - West
15  118021569                   Randwick - North
16  118021570                   Randwick - South
17  118021651                  Coogee - Clovelly
18  118021652               Malabar - La Perouse
19  118021653               Matraville - Chifley
20  118021654                       South Coogee

### firstly , get poi from bbox

In [5]:
def fetch_poi(xi, yi, xa, ya,offset = 0,limit = 1000):

    url = "https://maps.six.nsw.gov.au/arcgis/rest/services/public/NSW_POI/MapServer/0/query"
    using = {
        'f': 'json',
        'geometry':f'{xi},{yi},{xa},{ya}',
        'geometryType': 'esriGeometryEnvelope',
        'inSR': '4326',
        'spatialRel': 'esriSpatialRelIntersects',
        'outFields': '*',
        'returnGeometry': 'true',
        'resultOffset':offset,
        'resultRecordCount':limit
    }

    resp = requests.get(url, params=using)
    resp.raise_for_status()
    feat = resp.json().get('features',[])
    rows = []
    for f in feat:
        attr = f.get('attributes',{})
        geom = f.get('geometry',{})
        attr['longitude'] = geom.get('x')
        attr['latitude'] = geom.get('y')
        rows.append(attr)
    return pd.DataFrame(rows)

### Now, we can get poi from bbox then we need to loops all the sa2 regions which is in Sydney - Eastern Suburbs. We should get all the sa2 code and bbox x y .

In [6]:
query = """
select sa2_code21,
ST_XMin(geom) as xmin,
ST_YMin(geom) as ymin,
ST_XMax(geom) as xmax,
ST_YMax(geom) as ymax
from sa2_2021_aust_gda2020
where sa4_name21 = 'Sydney - Eastern Suburbs';
"""

eastern = pd.read_sql(query, con=engine)
display(eastern)

   sa2_code21        xmin       ymin        xmax       ymax
0   118011339  151.256467 -33.911094  151.276608 -33.888028
1   118011340  151.262034 -33.896871  151.286121 -33.878034
2   118011341  151.240883 -33.907907  151.261113 -33.888808
3   118011342  151.222555 -33.906271  151.242470 -33.889607
4   118011344  151.270343 -33.883353  151.286339 -33.857016
5   118011345  151.214296 -33.904893  151.237563 -33.876781
6   118011346  151.256985 -33.885169  151.287853 -33.832503
7   118011347  151.231965 -33.890872  151.256380 -33.880643
8   118011649  151.244612 -33.889431  151.267814 -33.863529
9   118011650  151.229271 -33.886434  151.248302 -33.866376
10  118021564  151.211226 -33.924508  151.236545 -33.901287
11  118021565  151.215252 -33.934740  151.239339 -33.917092
12  118021566  151.237788 -33.945485  151.265698 -33.932836
13  118021567  151.239566 -33.958002  151.259676 -33.941110
14  118021568  151.226805 -33.954088  151.242201 -33.933644
15  118021569  151.231146 -33.914509  151.254952 -33.902523
16  118021570  151.225316 -33.934229  151.251126 -33.904456
17  118021651  151.246719 -33.928474  151.271624 -33.906711
18  118021652  151.225501 -34.001801  151.266022 -33.951812
19  118021653  151.221830 -33.978676  151.246691 -33.951046
20  118021654  151.245986 -33.937824  151.261880 -33.926570

In [7]:
all_pois = []  # Make an empty list to collect all POIs

for i, row in eastern.iterrows():
    sa2 = row.sa2_code21
    offset =0
    while True:
        df = fetch_poi(row.xmin,row.ymin,row.xmax,row.ymax,offset = offset)
        if df.empty:
            break
        df['sa2_code21'] = sa2
        all_pois.append(df)

        if len(df) < 1000:
            break
        offset +=1000
        time.sleep(0.3)

poi_raw = pd.concat(all_pois,ignore_index = True)
print(f"catch {len(poi_raw)} pois")

poi_raw.to_sql(
    "pois_data_rough",
    engine,
    if_exists = "replace",
    index = False,
    method = "multi",
    chunksize = 500)

catch 2076 pois

2076

In [8]:
with engine.begin() as conn:
    conn.execute(text("""

    alter table pois_data_rough
    add column if not exists geom geometry(Point,4326);
    update pois_data_rough
    set  geom = ST_SetSRID(ST_MakePoint(longitude,latitude),4326)
    where geom is null;

    create index if not exists idx_pois_rough_geom on pois_data_rough using GIST(geom); 
    """
    ))

In [9]:
with engine.begin() as conn:
    conn.execute(text("""
      ALTER TABLE sa2_2021_aust_gda2020
        ALTER COLUMN geom 
        TYPE geometry(MultiPolygon,4326)
        USING ST_SetSRID(geom,4326);
    """))
    conn.execute(text("""
      ALTER TABLE pois_data_rough
        ALTER COLUMN sa2_code21
        TYPE text
        USING sa2_code21::text;
    """))
    conn.execute(text("""
    drop table if exists poi_data_clean;
    """))
    conn.execute(text("""
    create table poi_data_clean as 
    select p.*,s.sa4_name21
    from pois_data_rough p
    join sa2_2021_aust_gda2020 s  
    on p.sa2_code21 = s.sa2_code21
    and ST_Within(p.geom,s.geom)
    where s.sa4_name21 ='Sydney - Eastern Suburbs';
    create index idx_poi_clean_geom on poi_data_clean using GIST(geom);
    """))
print("task2 complete.")

task2 complete.

# Task3 : Compute the scores

In [10]:
with engine.begin() as conn:
    conn.execute(text("""
      ALTER TABLE catchments_primary
        ALTER COLUMN geometry
        TYPE geometry(MultiPolygon,4326)
        USING ST_SetSRID(geometry,4326);
      
      ALTER TABLE catchments_secondary
        ALTER COLUMN geometry
        TYPE geometry(MultiPolygon,4326)
        USING ST_SetSRID(geometry,4326);
      
      ALTER TABLE catchments_future
        ALTER COLUMN geometry
        TYPE geometry(MultiPolygon,4326)
        USING ST_SetSRID(geometry,4326);
    """))

In [15]:
sql = """
WITH young AS (
  SELECT
    sa2_code::bigint      AS sa2_code21,
    (COALESCE("0-4_people",0)
     + COALESCE("5-9_people",0)
     + COALESCE("10-14_people",0)
     + COALESCE("15-19_people",0)
    )                     AS young_people,
    total_people
  FROM population
),
biz AS (
  SELECT
    sa2_code::bigint      AS sa2_code21,
    SUM(total_businesses) AS business_count
  FROM business
  GROUP BY sa2_code
),
stops_ct AS (
  SELECT
    s.sa2_code21::bigint  AS sa2_code21,
    COUNT(*)              AS stops_count
  FROM stops t
  JOIN sa2_2021_aust_gda2020 s
    ON ST_Within(
         ST_SetSRID(
           ST_MakePoint(t.stop_lon, t.stop_lat),
           4326
         ),
         s.geom
       )
  WHERE s.sa4_name21 = 'Sydney - Eastern Suburbs'
  GROUP BY s.sa2_code21
),
schools_area AS (
  SELECT
    s.sa2_code21::bigint AS sa2_code21,
    (
      SELECT SUM(ST_Area(c.geom::geography))/1e6
      FROM (
        SELECT geom FROM catchments_primary
          WHERE ST_Intersects(geometry, s.geom)
        UNION ALL
        SELECT geom FROM catchments_secondary
          WHERE ST_Intersects(geometry, s.geom)
        UNION ALL
        SELECT geom FROM catchments_future
          WHERE ST_Intersects(geometry, s.geom)
      ) AS c
    )                     AS catchment_km2
  FROM sa2_2021_aust_gda2020 s
  WHERE s.sa4_name21 = 'Sydney - Eastern Suburbs'
),
poi_ct AS (
  SELECT
    sa2_code21::bigint    AS sa2_code21,
    COUNT(*)              AS poi_count
  FROM poi_data_clean
  GROUP BY sa2_code21
)
SELECT
  y.sa2_code21,
  y.young_people,
  y.total_people,
  b.business_count,
  st.stops_count,
  sa.catchment_km2,
  p.poi_count
FROM young    y
LEFT JOIN biz          b USING(sa2_code21)
LEFT JOIN stops_ct     st USING(sa2_code21)
LEFT JOIN schools_area sa USING(sa2_code21)
LEFT JOIN poi_ct       p USING(sa2_code21)
WHERE y.total_people >= 100;
"""

df = pd.read_sql(sql, engine)

df['biz_per_1000']           = df['business_count']       / df['total_people'] * 1000
df['schools_per_1000_young'] = df['catchment_km2']        / df['young_people']  * 1000
df['stops_count']            = df['stops_count']
df['poi_count']              = df['poi_count']

metrics = ['biz_per_1000','stops_count','schools_per_1000_young','poi_count']
for m in metrics:
    df[f'z_{m}'] = (df[m] - df[m].mean()) / df[m].std(ddof=0)
df['score'] = 1 / (1 + np.exp(-df[[f'z_{m}' for m in metrics]].sum(axis=1)))

# 先把 NaN 行过滤掉
df_clean = df.dropna(subset=[
    'z_biz_per_1000',
    'z_stops_count',
    'z_schools_per_1000_young',
    'z_poi_count',
    'score'
])

sa2_names = pd.read_sql(
    "SELECT sa2_code21, sa2_name21 "
    "FROM sa2_2021_aust_gda2020 "
    "WHERE sa4_name21 = 'Sydney - Eastern Suburbs';",
    engine
)
sa2_names['sa2_code21'] = sa2_names['sa2_code21'].astype('int64')

df_final = df_clean.merge(sa2_names, on='sa2_code21')

df_final = df_final[[
    'sa2_code21',
    'sa2_name21',
    'z_biz_per_1000',
    'z_stops_count',
    'z_schools_per_1000_young',
    'z_poi_count',
    'score'
]]

df_final

,sa2_code21,sa2_name21,z_biz_per_1000,z_stops_count,z_schools_per_1000_young,z_poi_count,score
0,118011339,Bondi - Tamarama - Bronte,0.013676,-0.061869,-0.334504,-0.418092,0.309857
1,118011340,Bondi Beach - North Bondi,0.064764,-0.230601,-1.049985,0.270530,0.279833
2,118011341,Bondi Junction - Waverly,0.545505,1.119259,0.273328,0.762403,0.937056
3,118011344,Dover Heights,0.058576,-0.568066,-1.130500,-0.844381,0.076961
4,118011345,Paddington - Moore Park,0.161083,-0.089991,2.021293,1.024735,0.957593
5,118011346,Rose Bay - Vaucluse - Watsons Bay,0.150099,2.440997,-0.265323,2.861059,0.994441
6,118011347,Woollahra,0.235208,-1.439851,-0.530030,-0.647632,0.084532
7,118011649,Bellevue Hill,0.103944,1.541090,-0.531256,-0.254134,0.702586
8,118011650,Double Bay - Darling Point,0.758968,-0.849287,0.067007,-0.352509,0.407136
9,118021564,Kensington (NSW),-0.178837,-0.877409,0.845354,-0.418092,0.347741
10,118021565,Kingsford,-0.164901,-0.427456,-0.659339,-1.205088,0.078944
11,118021566,Maroubra - North,0.005165,-0.905531,-0.546354,-0.811590,0.094635
12,118021567,Maroubra - South,-0.140763,0.500573,-0.096031,-0.385300,0.469657
13,118021568,Maroubra - West,-0.115691,-1.130508,0.178849,-0.778798,0.136326
14,118021569,Randwick - North,-0.103683,0.163108,-0.367540,-0.352509,0.340599
15,118021570,Randwick - South,-0.037996,0.697428,1.310174,-0.090177,0.867546
16,118021651,Coogee - Clovelly,-0.045012,0.331841,-0.714890,0.434488,0.501606
17,118021652,Malabar - La Perouse,-0.135610,0.641183,2.778613,2.139646,0.995609
18,118021653,Matraville - Chifley,-0.118151,0.697428,-0.201984,-0.122968,0.563241
19,118021654,South Coogee,-0.100660,-1.552339,-1.046882,-0.811590,0.028988

In [16]:
df_final.to_sql(
    name='sa2_scores_full',
    con=engine,
    if_exists='replace',
    index=False
)

20